@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="head" class="display-4 blue-text" onmouseover="newColor()">One of my favorite songs</h1>
    <iframe width="560" height="315" class="vid" src="https://www.youtube.com/embed/UZkVqLjGM_I?si=w1DeRezIl7OqcmYr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
